li:hover {
  background-color: red;
  color: white;
}

.nav-link:hover{
    background-color: red;
    color:white;
}

.form-control{
  color:red;
  background-color: grey;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}
