body {
    background-image:url('loginbg.jpg');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    background-color: #000;
}

.court-case-title {
    margin-left: 1rem;
    font-family: Lato,sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #fff;
}

.court-case-title:hover{
    color: rgb(255, 61, 46);
    cursor: pointer;
}

.court-case-title:hover span{
    color: #fff;
}

.court-case-title span {
    color: rgb(255, 61, 46);
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: rgb(255, 61, 46);
}

.collapse ul {
    margin-right: 4rem;
}

.navbtn {
    border-style: 1px solid;
    border-color: #fff;
    border-radius: 40%;
    color: #fff;
}

.navbtn:hover {
    color: rgb(255, 61, 46);
}

@media only screen and (max-width: 600px) {
    .court-case-title{
        font-size:1.1rem;
    }
  }
  @media only screen and (max-width: 450px) {
    .court-case-title{
        font-size:1.0rem;
    }
  }
  @media only screen and (max-width: 430px) {
    .court-case-title{
        font-size:0.7rem;
    }
  }
  @media only screen and (max-width: 356px) {
    .court-case-title{
        font-size:0.6rem;
    }
  }
  @media only screen and (max-width: 330px) {
    .court-case-title{
        font-size:0.55rem;
    }
  }